<!DOCTYPE html>
<html>
  <head>
    <title>Learn Rails - Loja</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= nav_bar brand: "Loja de Roupas" do %>
      <%= menu_group do %>
        <%= menu_item "Homepage", root_path %>
        <%= menu_item "Produtos", todos_os_produtos_path %>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
